h1 {
    color: darkred;
    text-align: center;
}

.tile {
    background: #a9ccfb;
    width: 40%;
    min-height: 200px;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

#sel_color_list {
    text-align: center;
    display: inline;
    width: 20%;
    border: solid 3px #b6c9da;
    border-radius: 6px;
    margin: 2em 40% 0;
}

#color_box {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: solid 3px gray;
    border-radius: 5px;
    margin: 45px 40% 0;
}